@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.rewards {
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 54px;
  width: 380px;
  background: #F6F6F6;
  border-radius: 12px;

  @include md {
    padding: 0;
  }
}

.btn {
  font-size: 18px;
  font-weight: 700;
}